<template>
  <div class="about">
    <ul class="ul-class">
      <li
        v-for="(item, index) in arr"
        :key="item.key"
        :class="currentIndex == index ? 'active' : ''"
        @click="fn(index)"
      >
        {{ item.name }}
      </li>
    </ul>
    <keep-alive>
      <component :key="currentIndex" class="com" :is="myComponent"></component>
    </keep-alive>
  </div>
</template>

<script>
import Left from '../components/Left.vue'
import Right from '../components/Right.vue'
export default {
  components: {
    Left,
    Right
  },
  data () {
    return {
      currentIndex: 0,
      myComponent: Left,
      arr: [
        { name: '首页', key: 1 },
        { name: '关于', key: 2 }
      ]
    }
  },
  watch: {
    $route: {
      deep: true,
      immediate: true,
      handler (n) {
        console.log('/name/12'.split('/').splice(0, 3), 9090)
      }
    }
  },
  methods: {
    fn (index) {
      this.currentIndex = index
      if (index == 0) {
        this.myComponent = Left
      } else {
        this.myComponent = Right
      }
    }
  }
}
</script>

<style scoped>
.about {
  position: relative;
}
.ul-class {
  position: fixed;
  left: 20px;
  top: 100px;
}
.com {
  flex: 6;
}
.active {
  color: pink;
}
</style>
