<template>
  <div class="fangdou">
    <button @click="myclick">按钮</button>
    <div>{{sum}}</div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      sum: 1,
      cc: undefined
    }
  },
  created () {
    this.cc = this.debounce(this.fn, 2000)
  },
  methods: {
    myclick (e) {
      this.cc(e.target, 100)
      console.log(e.target, 100000)
    },
    fn (e, num) {
      console.log(e, num)
      this.sum++
    },
    // 连续点击会重置时间,定时器结束,会执行一次.你越点的快越重置,越不执行,这叫防抖
    //#region
    // debounce (fn, delay) {
    //   console.log(89)
    //   var timer// 每次点击都重新定义timer???不不不,debounce只包裹一次,只执行一次,以后都是下面这个匿名函数在调用
    //   // 反映到代码上,就是created时候包裹一次,然后每次点击,触发内部返回的匿名函数
    //   // const that = this
    //   return function () {
    //     console.log(8888)
    //     var _this = this // 取debounce执行作用域的this
    //     var args = arguments
    //     if (timer) {
    //       clearTimeout(timer)
    //     }
    //     timer = setTimeout(function () {
    //       console.log(88)
    //       fn.apply(_this, args) // 用apply指向调用debounce的对象，相当于_this.fn(args);
    //     }, delay)
    //   }
    // }
    //#endregion
    debounce(fn,delay){
      let timer
      return function(){
        if(timer){
          clearTimeout(timer)
        }
        timer = setTimeout(()=>{
          fn.apply(this,arguments)
          clearTimeout(timer)
        },delay)
      }
    }
  }
}
</script>

<style>

</style>
