<template>
    <div class="myflex">
    <span class="cc">787</span>
    <ul>
      <li>1</li>
      <li>2444</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
    <div>{{a}}</div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  data(){
    return {
      a:undefined
    }
  },
  created(){
    console.log('created');
    this.a = this.$route.query.id
    console.log(this.$route.query.id);
  }
}
</script>

<style>
/* https://www.ruanyifeng.com/blog/2015/07/flex-grammar.html   这是flex教程 */

  .myflex {
    text-align: left;
  }
  ul {
    background-color: pink;
    width: 500px;
    height: 500px;
    list-style: none;
    display:flex;
    padding: 0;
    /* flex-direction:row-reverse;
    flex-wrap:wrap-reverse; */
    flex-flow: row nowrap;
    justify-content:space-between;
    /* align-items:center;单根轴线 */
    align-content:space-between;/*多轴线*/
  }
  ul li {
    width: 150px;
    height: 30px;
    border:1px solid red;
    /* height: 30px; */
    background-color: blue;
  }
  ul li:nth-child(1) {
    /* width: 120px; */
    order:1;/*排序*/
    /* 缩小 */
    /* flex-shrink:8; */
    flex:0 0 auto;
    align-self:space-between;
    height: 30px;
    background-color: blue;
  }
  ul li:nth-child(2) {
    /* width: 120px; */
    /* 放大 */
    /* flex-grow:4; */
    order:2;
    /* flex-shrink:9; */
    height: 30px;
    background-color: blue;
  }
  .cc {
    width: 200px;
    height: 200px;
    background-color: green;
    margin-left: 200px;
    padding-top: 50px;
    padding-bottom: 700px;
  }
</style>
