<template>
  <div class="home">
    <HelloWorld :link.sync="link"></HelloWorld>
    <input type="text" v-model="link">
    <button v-preventReClick="2000">按钮</button>
    <button @click="fn($event,67)">按钮222</button>

  </div>
</template>

<script>
import HelloWorld from '../components/HelloWorld.vue'
export default {
  components: {
    HelloWorld
  },
  data () {
    return {
      link: '45'
    }
  },
  methods: {
    fn (e, age) {
      console.log(e, age)
    },
  }
}
</script>

<style>

</style>
