<template>
  <div class="jieliu">
    <button @click="myclick">按钮</button>
    <div>{{sum}}</div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      sum: 1,
      cc: undefined
    }
  },
  created () {
    this.cc = this.throttle(this.fn, 2000)
  },
  methods: {
    myclick (e) {
      this.cc(e, 100)
    },
    fn (e, num) {
      console.log(e.target, num)
      this.sum++
    },
    //#region
    // 与是否连续点击无关,每两秒执行一次,无论是否连续点击,两秒内只能点击一次,多点完全无效,这叫节流
    throttle (fn, delay) {
      console.log(89)
      var timer
      return function () {
        console.log(8888)
        // var _this = this // 取debounce执行作用域的this//有了箭头函数,没必要取this和arguments
        // var args = arguments
        if (timer) {
          return
        }
        timer = setTimeout( () => {
          fn.apply(null,arguments)
          timer = null
        }, delay)
      }
    }
    //#endregion
    // throttle(fn,delay){
    //   let timer
    //   return function(){
    //     let _this = this
    //     let args = arguments
    //     if(timer){
    //       return
    //     }
    //     timer = setTimeout(()=>{
    //       fn.apply(_this,args)
    //       timer = null
    //     },delay)
    //   }
    // }
  }
}
</script>

<style>

</style>
