<template>
  <div class="max">
    <!-- <Mini>
      <template v-slot:myData="{user}">
        <input type="text" v-model.number="user.age">
      </template>
    </Mini> -->
    <span>{{$route.params.id}}</span>
    <router-link to="/max/1">max1</router-link>
    <router-link to="/max/2">max2</router-link>
    <router-link to="/max/3">max3</router-link>
  </div>
</template>

<script>
// import Mini from '@/components/Mini.vue'
export default {
  // components:{
  //   Mini
  // },
  created(){
    console.log('ioio');
  }
  // beforeRouteUpdate(to,from,next){
  //   console.log(to,from);
  //   alert(676)
  //   next()
  // },
}
</script>

<style>

</style>