<template>
  <button @click="btn">跳转到router_study</button>
</template>

<script>
export default {
  created(){
    this.fn()
    
  },
  methods:{
    async fn(){
      const aa = await this.fn1()
      const bb = await this.fn2()
      console.log(aa,bb);
      //解析:最终这时候会过两秒一起打印出111,222, 111,222
      //就是说哪怕async函数中返回的不是promise,最后依然会包装成promise,真的!!!!
      //最后await会等待resolve的返回值,如果不是promise,会把返回值包装成primise返回
      //如果连返回值也没有,就会把undefined包装成promise返回,总之await死等返回值,等到了,代码才会向下执行
      //如果你返回了promise,但是没有resolve,那么就完了,他await会一直等(也就是卡在那不动了,代码也不向下执行了)
      //就如27行,注释了resolve就会停下,最终只会打印出111
    },
    async fn1(){
      return new Promise((resolve,reject)=>{
        setTimeout(()=>{
          console.log(111);
          // resolve(111)
        },2000)
      })
    },
    async fn2(){
      console.log(222);
      // return 222
      
    },
    btn(){
      this.$router.push('/router_study/199')
    }
  }
}
</script>

<style>

</style>