<template>
    <div class="one" name="slide">
      45608098
      <input type="text" v-model.number="mysum">
    </div>
</template>

<script>
export default {
  data(){
    return {
      sum:undefined
    }
  },
  created(){
    console.log('ni');
  },
  computed:{
    mysum:{
      get(){
        return this.sum
      },
      set(val){
        this.sum = val?val:undefined
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
