<template>
  <div>
    <Son :myData="myData"
     @search="search"
     :say.sync="say"
     ></Son>
     {{say}}
  </div>
</template>

<script>
import Son from '@/components/Son.vue'
export default {
  components:{
    Son
  },
  data(){
    return {
      say:undefined,
      myData:{
        ids:12,
        fn:this.fn,
        search:this.search
      }
    }
  },
  created(){
    console.log(this.$route.params.id);
  },
  methods:{
    search(val){
      console.log(val,20);
    },
    fn(cc){
      console.log(cc);
    }
  }
}
</script>

<style>

</style>