<template>
  <div class="zhan">

  </div>
</template>

<script>
export default {
  data () {
    return {
      str: '([)]'
    }
  },
  created () {
    const aa = this.matchStr(this.str)
    console.log(aa)
  },
  methods: {
    matchStr (str) {
      const arr = []
      for (const word of str) {
        switch (word) {
          case '(':
            arr.push('(')
            break
          case '{':
            arr.push('{')
            break
          case '[':
            arr.push('[')
            break
          case ')':
            if (arr[arr.length - 1] === '(') {
              arr.pop()
            }
            break
          case ']':
            if (arr[arr.length - 1] === ']') {
              arr.pop()
            }
            break
          case '}':
            if (arr[arr.length - 1] === '}') {
              arr.pop()
            }
            break
        }
      }
      return arr.length === 0
    }
  }
}
</script>

<style>

</style>
