<template>
  <div class="helloworld">
    <!-- <input type="text" :value="link" @input="$emit('update:link',$event.target.value)"> -->
    <input type="text" v-model="myLink">
  </div>
</template>

<script>
export default {
  props:{
    link:{
      type:String,
      default:''
    }
  },
  computed:{
    myLink:{
      get(){
        return this.link
      },
      set(val){
        this.$emit('update:link',val)
      }
    }
  }
}
</script>

<style>

</style>