<template>
  <div class="mini">
    <button @click="btn">按钮</button>
    <slot name="myData" :user="user"></slot>
    <button @click="btn1">++++</button>
    <div>{{sum}}</div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      user:{
        age:13,
        name:'zs'
      },
      sum:45
    }
  },
  // watch:{
  //   '$route.params.id':{
  //     handler(value){
  //       console.log(value);
  //     }
  //   }
  // },
  
  created(){
    console.log('created90909');
  },
  
  methods:{
    btn(){
      this.$router.push({name:'Max',params:{id:this.sum}})
    },
    btn1(){
      this.sum++
    }
  }
}
</script>

<style scoped lang="scss">
  button {
    background-color: pink;
  }
</style>