<template>
  <div class="right">
    <div class="long" ref="long">
      <p v-for="item in 100" :key="item">{{item}}关于</p>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      top:0
    }
  },
  activated(){
    console.log(this.top,this.$refs.long)
    // this.$refs.long.scrollTop = this.top
    // document.body.scrollTop = this.top
    window.scrollTo({top:this.top,behavior:"smooth"})
  },
  deactivated(){
    this.top = document.body.scrollTop || document.documentElement.scrollTop || window.pageYOffset
  }
}
</script>

<style>

</style>