<template>
  <div class="son">
    {{id}}
    <button @click="btn">按钮子传父</button>
    <input type="text" :value="say" @input="inp">
  </div>
</template>

<script>
export default {
  data(){
    return {
      id:undefined
    }
  },
  props:{
    say:{
      type:String,
      default:undefined
    },
    myData:{
      type:Object,
      default:{}
    }
  },
  created(){
    this.id = this.myData.ids
    console.log(this.id);
    this.myData.fn(1807)
    console.log(this.myData,9090);
  },
  methods:{
    btn(){
      this.$emit('search',this.id+3,8080)
    },
    inp(e){
      this.$emit('update:say',e.target.value)
    }
  }
}
</script>

<style>

</style>