<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home2222</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/fangdou">防抖</router-link> |
      <router-link to="/jieliu">节流</router-link> |
      <router-link to="/flex">flex</router-link> |
      <router-link to="/zhan">zhan</router-link> |
      <router-link to="/max/3">Max</router-link> |
      <router-link to="/max/4">Max</router-link> |
      <router-link to="/max/5">Max</router-link> |
      <router-link to="/flex/one/1">one:1</router-link> |
      <router-link to="/flex/one/2">one:2</router-link> |
      <router-link to="/flex/two">two</router-link> |
      <router-link to="/flex/two/three">three </router-link> |
      <router-link to="/mypromise">Promise </router-link> |
      <router-link to="/router_study">router_study </router-link> |
    </div>
    <transition name="fade" mode="out-in">
        <router-view :key="$route.fullPath" />
    </transition>
  </div>
</template>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
